@import "tailwindcss";
@plugin "daisyui";


html {
  scroll-behavior: smooth;
}




.scroll-offset {
  scroll-margin-top: 112px; 
}



@theme {
    --color-main: #F15533;
    --color-dark: #0F0F0F;
  }


  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    display: inline-flex;
    animation: marquee 13s linear infinite;
  }
  


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
  }
  

  